{{page-title "ConcurrencyArrowFn"}}

<p>value: {{this.value}}</p>
<p>Task running: {{this.fooTask.isRunning}}</p>

<button type="button" {{on "click" (perform this.fooTask)}}>
  Run task
</button>
{{outlet}}